
#title{
    margin-left: 700px;
    margin-top: 100px;  
}

#calculatorContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 700px;
    margin-top: 20px;
    
    
    
}

#inputDisplay{
    height:100px;
    width: 400px;
    background-color:#ffff80;
    border: black;
    /* border-style: groove; */

}

#buttonsContainer{
    display:grid;
    
    
    
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:  repeat(5, 80px);
    height:600px;
    width:600px;
    
}

#firstRow{
   
    
}



#secondRow{
    
   
}



#thirdRow{
    display:flex;
    

}

#fourthRow{
    display:flex;
    width:400px;
    height: 100px;

}

#fifthRow{
    display:flex;
    width:400px;
    height: 100px;

}


.operand{ 
    padding: 40px; 
    font-size: 20px;
    background-color: #00cc66;
    /* border-style: groove; */
}

.operator{
    padding: 40px;
    font-size: 20px;
    background-color: #b3ffd9;
   /* border-style: groove; */
    
}

.zeroButton{
    padding: 40px 80px;
    font-size: 20px;
    grid-column: span 2;
    
}